.create-form {
  /* overflow-y: scroll; */
  margin: 0 auto;
  width: 60vw;
  max-width: var(--max-width);
  height: 100vh !important;
}

.create-form .form-text {
  /* height: 128px;
  width: 686px; */
  border: none;
  background-color: var(--backgroundColor);
}

.create-form .btn {
  margin-top: 1rem;
}

@media (max-width: 600px) {
  .create-form {
    width: var(--fluid-width);
    height: 90vh !important;
  }
}