.user-list {
  width: var(--side-width);
  padding: 30px;
  box-sizing: border-box;
  background-image: var(--bg-side);
  color: #fff;
  overflow-y: scroll;
  max-height: 100vh;
  position: relative;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  /* border-radius: 7px 0px 0px 7px; */
}

.no-user{
  display: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.user-list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.user-list {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.maxiUser-toggle-btn,
.miniUser-toggle-btn {
  width: var(--toggle-btn);
  height: var(--toggle-btn);
  background: transparent;
  border-color: transparent;
  position: absolute;
  top: 0;
  font-size: 1.7rem;
  color: var(--bg-btn) !important;
  cursor: pointer;
}

.maxiUser-toggle-btn {
  right: calc(var(--side-width) - var(--toggle-btn))
}
.miniUser-toggle-btn {
  right: var(--toggle-btn);
}


.user-list h2 {
  text-align: right;
  margin-bottom: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  font-size: 1.2em;
}
.user-list .user-list-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px auto;
}
.user-list .avatar {
  margin-left: 10px;
  width: 40px;
  height: 40px;
}

.user-list .online-user{
  display: inline-block;
  margin-right: 10px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #0ebb50;
  margin-top: 2px;
}